<div ng-controller="main-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#/"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
    </ol>

    <h1>Bienvenido Ramiro Gutierrez Alaniz</h1>

    <hr>
    <div  class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <ul class="home-menu">
                <li><a href="#/reports" class="reports"><i class="fa fa-pie-chart" aria-hidden="true"></i><br>Reportes</a></li>
                <li><a href="#/cuts" class="cuts"><i class="fa fa-money" aria-hidden="true"></i><br>Corte</a></li>
                <li><a href="#/stations" class="stations"><i class="fa fa-television" aria-hidden="true"></i><br>Cajas</a></li>
                <li><a href="#/users" class="users"><i class="fa fa-user-circle" aria-hidden="true"></i><br>Usuarios</a></li>
                <li><a href="#/products" class="products"><i class="fa fa-product-hunt" aria-hidden="true"></i><br>Productos</a></li>
                <li><a href="#/categories" class="categories"><i class="fa fa-cubes" aria-hidden="true"></i><br>Categorías</a></li>
            </ul>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
