<div  ng-controller="contents-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/contents"><i class="fa fa-gears" aria-hidden="true"></i> Contenidos</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-edit" aria-hidden="true"></i> Editar Contenido</li>
    </ol>


    <h2 class="display-3">{{title}}</h2>
    <br/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <h5 class="lead"> <i class="fa fa-edit" aria-hidden="true"></i> Recomendaciones</h5>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert" ng-if="errors">
                <strong>Error al editar objecto!</strong> {{errors}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-primary mb-3 text-left">
                <div class="card-header text-sm-center lead">
                    Editar
                </div>
                <div class="card-block">
                    <div class="alert alert-danger" role="alert" ng-if="errors">
                        <strong>Error al editar objecto</strong>
                        <p>{{errors}}</p>
                    </div>
                    <form ng-submit="save_recomendations()">

                        <div ng-repeat="r in recomendationscontents" class="row">
                            <div class="col-md-12 form-group">
                                <textarea
                                    type="text"
                                    class="form-control"
                                    ng-model="r.content"
                                    maxlength="1000"
                                    placeholder="Contenido"></textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    ng-model="r.source"
                                    maxlength="200"
                                    placeholder="Fuente">
                            </div>
                            <hr>
                        </div>


                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group text-sm-left">
                                    <a href="#/contents">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Cancelar</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group text-sm-right">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
