<div class="form-group">
    <label for="name">Nombre</label>
    <input
        type="text"
        class="form-control"
        id="name"
        ng-model="cabintype.name"
        maxlength="100"
        placeholder="Nombre">
</div>

<div class="form-group">
    <label for="description">Descripción</label>
    <input
        type="text"
        class="form-control"
        id="description"
        ng-model="cabintype.description"
        maxlength="200"
        placeholder="Descripción">
</div>

<div class="form-group">
    <label for="max_guests">Cuartos</label>
    <input
        type="number"
        class="form-control"
        id="rooms"
        ng-model="cabintype.rooms"
        placeholder="Cuartos">
</div>

<div class="form-group">
    <label for="max_guests">Capacidad Máxima</label>
    <input
        type="number"
        class="form-control"
        id="max_guests"
        ng-model="cabintype.max_guests"
        placeholder="Capacidad">
</div>

<div class="form-group">
    <label for="max_guests">Extras</label>
    <input
        type="number"
        class="form-control"
        id="max_extra_guests"
        ng-model="cabintype.max_extra_guests"
        placeholder="Extras">
</div>
