<div ng-controller="reservation-cabin-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/reservations"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Reservaciones</a></li>
        <li class="breadcrumb-item"><a href="#/reservations/cabin/"><i class="fa fa-bed" aria-hidden="true"></i> cabañas</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-info" aria-hidden="true"></i> nueva</li>
    </ol>

    <h2 class="display-3">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-bed" aria-hidden="true"></i> Nueva Reservación de Cabaña</h5>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" ng-if="errors">
                <strong>Error al agregar objecto</strong>
                <p>{{errors}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Información de reservación</h4>
                    <hr>
                    <div ng-include="'../views/reservations/reservation_info.html'"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Selección de servicios</h4>
                        </div>
                        <div class="col-md-6 text-sm-right">
                            Total = [ $ {{reservation.total}} ]<br>
                            Máximo de personas = [ {{reservation.max_guests}} + {{reservation.max_extra_guests}} ]
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="" ng-click="addNewDetail()"><button class="btn btn-lg btn-warning" style="width:100%;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Pagar</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="" ng-click="reserve()"><button class="btn btn-lg btn-success" style="width:100%;"><i class="fa fa-bookmark" aria-hidden="true"></i> Reservar</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="" ng-click="addNewDetail()"><button class="btn btn-info" style="width:100%;"><i class="fa fa-bed" aria-hidden="true"></i> Detalle Nuevo</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="" ng-click="addNewDetail()"><button class="btn btn-info" style="width:100%;"><i class="fa fa-users" aria-hidden="true"></i> Boleto Extra</button></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"><label for="date_start">Entrada :</label><input type="text" id="date_start" name="date_start" class="form-control" ng-model="date_start" ng-change="onDateChange()"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label for="date_end">Salida :</label><input type="text" id="date_end" name="date_end" class="form-control" ng-model="date_end" ng-change="onDateChange()"></div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <hr>
                    <div class="card">
                        <div class="card-block">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th><i class="fa fa-asterisk" aria-hidden="true"></i>  Producto</th>
                                        <th style="width:15%"><i class="fa fa-money" aria-hidden="true"></i> P/U</th>
                                        <th style="width:15%"><i class="fa fa-people" aria-hidden="true"></i> Cantidad</th>
                                        <th style="width:15%"><i class="fa fa-money" aria-hidden="true"></i> SubTotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Boletos Extra Niños
                                        </td>
                                        <td>{{ticket_price_child}}</td>
                                        <td>
                                            <div class="form-group">
                                                <input
                                                    type="number"
                                                    name="extra_guests_child"
                                                    ng-model="reservation.extra_guests_child"
                                                    min="0"
                                                    max="{{reservation.max_extra_guests - reservation.extra_guests_adult}}"
                                                    ng-change="onSelectChange()">
                                            </div>
                                        </td>
                                        <td>{{ reservation.extra_guests_child * ticket_price_child }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Boletos Extra Niños
                                        </td>
                                        <td>{{ticket_price_adult}}</td>
                                        <td>
                                            <div class="form-group">
                                                <input
                                                    type="number"
                                                    name="extra_guests_adult"
                                                    ng-model="reservation.extra_guests_adult"
                                                    min="0"
                                                    max="{{reservation.max_extra_guests - reservation.extra_guests_child}}"
                                                    ng-change="onSelectChange()">
                                            </div>
                                        </td>
                                        <td>{{ reservation.extra_guests_adult * ticket_price_adult }}</td>
                                    </tr>
                                    <tr ng-repeat="d in reservation.details">
                                        <td>
                                            <div class="form-group">
                                                <select
                                                    class="form-control"
                                                    ng-options="option.name for option in cabins track by option.id"
                                                    ng-model="d.product"
                                                    ng-change="onSelectChange()"></select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ d.product.price }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ d.qty }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ d.qty * d.product.price }}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready( function() {
        $('#date_start').datetimepicker({
            format:'Y/m/d',
            timepicker: false,
            onShow:function( ct ){
                var endDate = $('#date_end').val() ? new Date( $('#date_end').val() ) : false;
                if( endDate!=false ) {
                    endDate.setDate( endDate.getDate() - 1 );
                    this.setOptions({
                        maxDate : jQuery('#date_end').val() ? endDate : false
                    })
                }
            },
            scrollMonth : false,
            scrollInput : false
        });

        $('#date_end').datetimepicker({
            format:'Y/m/d',
            timepicker: false,
            onShow:function( ct ){
                var endDate = $('#date_start').val() ? new Date( $('#date_start').val() ) : false;
                if( endDate!=false ) {
                    endDate.setDate( endDate.getDate() + 1 );
                    this.setOptions({
                        minDate : jQuery('#date_start').val() ? endDate : false
                    })
                }
            },
            scrollMonth : false,
            scrollInput : false
        });
    });
</script>
