<div  ng-controller="reservation-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/reservations"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Reservaciones</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-bath" aria-hidden="true"></i> albercas</li>
    </ol>

    <h2 class="display-3">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-bath" aria-hidden="true"></i> Disponibles</h5>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <hr>

</div>
