<div class="col-md-12">
    <div class="form-group">
        <label for="full_name">Nombre Completo</label>
        <input
            type="text"
            class="form-control"
            id="full_name"
            ng-model="reservation.reservationinfo.full_name"
            maxlength="100"
            placeholder="Nombre Completo">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
            type="text"
            class="form-control"
            id="email"
            ng-model="reservation.reservationinfo.email"
            maxlength="200"
            placeholder="Correo Electrónico">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="address1">Dirección 1</label>
        <input
            type="text"
            class="form-control"
            id="address1"
            ng-model="reservation.reservationinfo.address1"
            maxlength="100"
            placeholder="Dirección 1">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="address2">Dirección 2</label>
        <input
            type="text"
            class="form-control"
            id="address2"
            ng-model="reservation.reservationinfo.address2"
            maxlength="100"
            placeholder="Dirección 2">
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="name">Código Postal</label>
        <input
            type="number"
            class="form-control"
            id="zip_code"
            ng-model="reservation.reservationinfo.zip_code"
            placeholder="Código Postal">
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="name">Número Telefónico</label>
        <input
            type="text"
            class="form-control"
            id="phone_number"
            ng-model="reservation.reservationinfo.phone_number"
            placeholder="Número de telefónico">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="city">Ciudad</label>
        <input
            type="text"
            class="form-control"
            id="city"
            ng-model="reservation.reservationinfo.city"
            maxlength="100"
            placeholder="Ciudad">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="state">Estado</label>
        <input
            type="text"
            class="form-control"
            id="state"
            ng-model="reservation.reservationinfo.state"
            maxlength="100"
            placeholder="Estado">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="country">País</label>
        <input
            type="text"
            class="form-control"
            id="country"
            ng-model="reservation.reservationinfo.country"
            maxlength="100"
            placeholder="País">
    </div>
</div>
